@tailwind base;
@tailwind components;
@tailwind utilities;

.hero_text span {
  display: none;
}

.phone_hero {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-3%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top left, #000000, #f0f0f0);
  box-shadow: -10px 0 20px #0000001a;
  z-index: -1;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 50% 50%);
}

